

<section class="facts-section set-bg" data-setbg="img/facts-bg.jpg" id="Facts">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 fact">
                <i class="flaticon-003-tooth-3"></i>
                <h2 id="HappyPatientsCount">0</h2>
                <p>بیماران راضی</p>
            </div>
            <div class="col-md-3 col-sm-6 fact">
                <i class="flaticon-002-toothbrush-1"></i>
                <h2 id="TurnsCount">0</h2>
                <p>نوبت های رزرو شده</p>
            </div>
            <div class="col-md-3 col-sm-6 fact">
                <i class="flaticon-030-tooth"></i>
                <h2 id="PatientsFolderCount">0</h2>
                <p>بیماران دارای پرونده</p>
            </div>
            <div class="col-md-3 col-sm-6 fact">
                <i class="flaticon-023-tooth-1"></i>
                <h2 id="ExpertDoctorCount">0</h2>
                <p>پزشکان متخصص</p>
            </div>
        </div>
    </div>
</section>