
@{
    ViewData["Title"] = "aboutUs";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
}

<section class="page-info-section set-bg"
         data-setbg="img/page-info-bg/1.jpg">
    <div class="container">
        <h2 class="text-right">درباره ما</h2>
    </div>
</section>
<!-- Page info section end -->
<!-- Intro section -->
<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="img/intro.jpg" alt="" />
            </div>
            <div class="col-lg-6 intro-text text-right">
                <h2>ما به دندان های شما اهمیت میدهیم</h2>
                <p>
                    ما در این درمانگاه در تلاشیم با استفاده از امکانات روز دنیا و همچنین پزشکانی مجرب درمانی بسیار بسیار عالی را برای مریضان فراهم آوریم
                    و همچنین امیدواریم امکانات و خدمات ما برای مریضان قابل قبول و همچنین کارامد بوده باشد
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->
<!-- Featured section -->
<section class="featured-section">
    <div class="featured-bg set-bg" data-setbg="img/featured-bg.jpg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="featured-box spad">
                    <div class="feature-item">
                        <i class="flaticon-008-protection"></i>
                        <div class="clearfix"></div>
                        <div class="fi-content">
                            <h4>اهمیت کیفیت</h4>
                            <p>
                                @*لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                                و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد*@
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <i class="flaticon-018-dentist-1"></i>
                        <div class="clearfix"></div>
                        <div class="fi-content">
                            <h4>تیم فوق العاده</h4>
                            <p>
                                @*لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                                و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد*@
                            </p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <i class="flaticon-007-computer-1"></i>
                        <div class="clearfix"></div>
                        <div class="fi-content">
                            <h4>بهترین تجهیزات پزشکی</h4>
                            <p>
                                @*لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                                و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد*@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured section end -->
<!-- Doctors section -->
@*<section class="doctors-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h2>دکتر های ما</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="doctor-item di-bg">
                    <div class="di-pic set-bg" data-setbg="img/doctors/1.jpg"></div>
                    <h4>دکتر ایکس</h4>
                    <p>لورم ایپسوم</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3  col-sm-6">
                <div class="doctor-item">
                    <div class="di-pic set-bg" data-setbg="img/doctors/2.jpg"></div>
                    <h4>دکتر ایکس</h4>
                    <p>لورم ایپسوم</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3  col-sm-6">
                <div class="doctor-item">
                    <div class="di-pic set-bg" data-setbg="img/doctors/3.jpg"></div>
                    <h4>دکتر ایکس</h4>
                    <p>لورم ایپسوم</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3  col-sm-6">
                <div class="doctor-item">
                    <div class="di-pic set-bg" data-setbg="img/doctors/4.jpg"></div>
                    <h4>دکتر ایکس</h4>
                    <p>لورم ایپسوم</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3  col-sm-6">
                <div class="doctor-item">
                    <div class="di-pic set-bg" data-setbg="img/doctors/5.jpg"></div>
                    <h4>دکتر ایکس</h4>
                    <p>لورم ایپسوم</p>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Doctors section end -->
<!-- Newsletter section -->
<!-- <section class="newsletter-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 text-lg-right">
          <form class="newsletter-form">
            <input type="text" placeholder="لطفا ایمیل خود را وارد کنید.." />
            <button class="site-btn sb-dark">عضویت</button>
          </form>
        </div>
        <div class="col-lg-7 banner-text text-white">
          <h4>عضویت در خبر نامه</h4>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است
          </p>
        </div>
      </div>
    </div>
  </section> -->
<!-- Newsletter section end -->
