
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
}

<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <!-- item -->
        <div class="hs-item set-bg text-white" data-setbg="img/slide-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-right">
                        <h2>لبخند شما زیباست</h2>
                        <p>
                            شما میتوانید با تشکیل پرونده در درمانگاه و تکمیل اطلاعات خود رزرو نوبت را برای خود سهولت بخشید
                        </p>
                        <a href="#" class="site-btn">ورود به حساب کاربری</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- item -->
        <div class="hs-item set-bg text-white" data-setbg="img/slide-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-right">
                        <h2>لبخند شما زیباست</h2>
                        <p>
                            و از امکاناتی همچون مشاهده لیست رزرو ها و یاداشت های دکتر بهره مند شوید
                        </p>
                        <a href="#" class="site-btn">ورود به حساب کاربری</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Banner section -->
<!-- <section class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 banner-text text-white">
        <h4>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h4>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن
          ساختگی با تولید سادگی نامفهومایپسوم متن ساختگی با تولید سادگی
          نامفهومایپسوم متن ساختگی با تولید سادگی نامفهوم
        </p>
      </div>
      <div class="col-lg-2 text-lg-right">
        <a href="#" class="site-btn sb-light">ادامه مطلب</a>
      </div>
    </div>
  </div>
</section> -->
<!-- Banner section end -->
<!-- About section -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="img/about.jpg" alt="" />
            </div>
            <div class="col-lg-7 about-text">
                <h2>ما به دندان های شما اهمیت میدیم</h2>
                <p id="">
                    ما در این درمانگاه در تلاشیم با استفاده از امکانات روز دنیا و همچنین پزشکانی مجرب درمانی بسیار بسیار عالی را برای مریضان فراهم آوریم
                    و همچنین امیدواریم امکانات و خدمات ما برای مریضان قابل قبول و همچنین کارامد بوده باشد
                </p>
                <img src="img/awards.jpg" alt="" />
            </div>
        </div>
    </div>
    <section id="triggerFactCounter"><p></p></section>
</section>
<!-- About section end -->
<!-- Facts section -->

<partial name="_FactsPartialView" />

<!-- Facts section end -->
<!-- Services section -->
    @(await Component.InvokeAsync("ServicesComponent"))
<!-- Services section end -->
<!-- Gallery section -->
<div class="gallery-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 p-0">
                <img src="img/gallery/1.jpg" alt="" />
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <img src="img/gallery/2.jpg" alt="" />
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <img src="img/gallery/3.jpg" alt="" />
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <img src="img/gallery/4.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<!-- Gallery section end -->
<!-- Testimonials section -->

@(await Component.InvokeAsync("MemoriesComponent"))

<!-- Testimonials section end -->
<!-- Newsletter section -->
<!-- <section class="newsletter-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 text-lg-right">
        <form class="newsletter-form">
          <input type="text" placeholder="لطفا ایمیل خود را وارد کنید.." />
          <button class="site-btn sb-dark">عضویت</button>
        </form>
      </div>
      <div class="col-lg-7 banner-text text-white">
        <h4>عضویت در خبر نامه</h4>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است
        </p>
      </div>
    </div>
  </div>
</section> -->
<!-- Newsletter section end -->