
@model Notes

@{
    ViewData["Title"] = "updateData";
    Layout = "~/Areas/doctorPanel/Views/Shared/_doctorLayout.cshtml";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container text-right">
        <div class="alert alert-primary">
            <h3 class="text-muted">ویرایش یاداشت بیمار</h3>
        </div>
        <hr>
        <form action="/DoctorPanel/EditNote" method="post">
            <div class="row">
                <div class="col-xl-12">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">

                        <input type="text" name="turnsID" id="turnsID" value="@Model.turnsID" hidden>
                        <input type="text" name="noteID" id="noteID" value="@Model.noteID" hidden>

                        <label>عنوان یاداشت : </label> <input type="text" name="titleNote" id="titleNote"
                                                              class="form-control" value="@Model.titleNote">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                        <label>متن کامل یاداشت : </label>
                        <textarea name="fullTextNote" id="fullTextNote" cols="30" rows="10" class="form-control">@Model.fullTextNote</textarea>
                    </div>
                </div>
            </div>
            <section class="container" id="medicineButtons">
                <input type="submit" id="Save" value="ذخیره" class="btn btn-success btn-sm">
                <a asp-controller="Notes" asp-action="Index" asp-area="doctorPanel" id="Cancel" class="btn btn-danger btn-sm">انصراف</a>
            </section>
        </form>
    </div>
</div>

